/* src/styles/custom.css */

/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap");

/* Define custom font faces */
@font-face {
  font-family: "Gilroy-Black";
  src: url("./gilroyFont/Gilroy-Black.ttf");
}

@font-face {
  font-family: "Gilroy-BlackItalic";
  src: url("./gilroyFont/Gilroy-BlackItalic.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./gilroyFont/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy-BoldItalic";
  src: url("/gilroy/Gilroy-BoldItalic.ttf");
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./gilroyFont/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "Gilroy-ExtraBoldItalic";
  src: url("./gilroyFont/Gilroy-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Gilroy-Heavy";
  src: url("./gilroyFont/Gilroy-Heavy.ttf");
}

@font-face {
  font-family: "Gilroy-HeavyItalic";
  src: url("./gilroyFont/Gilroy-HeavyItalic.ttf");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("./gilroyFont/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy-LightItalic";
  src: url("./gilroyFont/Gilroy-LightItalic.ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./gilroyFont/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-MediumItalic";
  src: url("./gilroyFont/Gilroy-MediumItalic.ttf");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./gilroyFont/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("./gilroyFont/Gilroy-RegularItalic.ttf");
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./gilroyFont/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy-SemiBoldItalic";
  src: url("./gilroyFont/Gilroy-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Gilroy-Thin";
  src: url("./gilroyFont/Gilroy-Thin.ttf");
}

@font-face {
  font-family: "Gilroy-ThinItalic";
  src: url("./gilroyFont/Gilroy-ThinItalic.ttf");
}

@font-face {
  font-family: "Gilroy-UltraLight";
  src: url("./gilroyFont/Gilroy-UltraLight.ttf");
}

@font-face {
  font-family: "Gilroy-UltraLightItalic";
  src: url("./gilroyFont/Gilroy-UltraLightItalic.ttf");
}

/* Define custom classes for Tailwind CSS */
.font-gilroy-black {
  font-family: "Gilroy-Black", sans-serif;
}

.font-gilroy-black-italic {
  font-family: "Gilroy-BlackItalic", sans-serif;
}

.font-gilroy-bold {
  font-family: "Gilroy-Bold", sans-serif;
}

.font-gilroy-bold-italic {
  font-family: "Gilroy-BoldItalic", sans-serif;
}

.font-gilroy-extrabold {
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.font-gilroy-extrabold-italic {
  font-family: "Gilroy-ExtraBoldItalic", sans-serif;
}

.font-gilroy-heavy {
  font-family: "Gilroy-Heavy", sans-serif;
}

.font-gilroy-heavy-italic {
  font-family: "Gilroy-HeavyItalic", sans-serif;
}

.font-gilroy-light {
  font-family: "Gilroy-Light", sans-serif;
}

.font-gilroy-light-italic {
  font-family: "Gilroy-LightItalic", sans-serif;
}

.font-gilroy-medium {
  font-family: "Gilroy-Medium", sans-serif;
}

.font-gilroy-medium-italic {
  font-family: "Gilroy-MediumItalic", sans-serif;
}

.font-gilroy-regular {
  font-family: "Gilroy-Regular", sans-serif;
}

.font-gilroy-regular-italic {
  font-family: "Gilroy-RegularItalic", sans-serif;
}

.font-gilroy-semibold {
  font-family: "Gilroy-SemiBold", sans-serif;
}

.font-gilroy-semibold-italic {
  font-family: "Gilroy-SemiBoldItalic", sans-serif;
}

.font-gilroy-thin {
  font-family: "Gilroy-Thin", sans-serif;
}

.font-gilroy-thin-italic {
  font-family: "Gilroy-ThinItalic", sans-serif;
}

.font-gilroy-ultralight {
  font-family: "Gilroy-UltraLight", sans-serif;
}

.font-gilroy-ultralight-italic {
  font-family: "Gilroy-UltraLightItalic", sans-serif;
}

.font-swanky {
  font-family: "Swanky and Moo Moo", cursive;
}
