@import "./customFonts.css";

:root {
  --color-purple-primary: #2e3553;
  --color-green-primary: #48bfaa;
  --background-color-purple-primary: #2e3553;
  --background-color-green-primary: #48bfaa;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1 {
        font-size: 2rem;
        color: #333;
      } */
  .body-background {
    background: linear-gradient(180deg, #ffffff 0%, #eef6fe 100%);
  }

  .body-background-brown {
    background-color: #d65555;
  }
  .body-background-light-brown {
    background-color: #ffe7e7;
  }
}

@layer components {
  /* For whole component  */
  .home-top-card-container::-webkit-scrollbar,
  .menu-bar-scroller::-webkit-scrollbar {
    display: none;
  }
  .home-top-card {
    min-width: 91px;
    position: relative;
  }
  .home-top-card-dp {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
  }

  .home-top-card-inner {
    width: 100%;
    height: 91px;
    background: linear-gradient(180deg, #e6ffaf 0%, #e0ff9d 100%);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 10px 10px;
  }

  .home-top-card-desc {
    font-family: "Swanky and Moo Moo", "cursive";
    font-size: 12px;
    font-weight: 400;
    line-height: 11.75px;
    text-align: center;
    color: #2e3553;
  }

  .home-top-card-title {
    font-family: "Gilroy-Light";
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    margin-top: 5px;
    color: #2e3553;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .break-inside-avoid {
    break-inside: avoid;
  }
}

@layer utilities {
  /* For Utility classes  */
  /* .font-20px {
    font-size: 20px;
  } */
  .color-primary {
    color: var(--color-purple-primary);
  }
  .color-primary-green {
    color: var(--color-green-primary);
  }
  .background-color-primary {
    background-color: var(--background-color-purple-primary);
  }
  .background-color-primary-green {
    background-color: var(--background-color-green-primary);
  }

  .border-color-primary-green {
    border: 1px solid #48bfaa;
  }
  .border-color-primary-dark-green {
    border: 1px solid #47c3c9;
  }
  .border-color-primary-Purple {
    border: 1px solid #9b63b8;
  }
  .border-color-primary-Yellow {
    border: 1px solid #d8f892;
  }
  .border-color-dark-Yellow {
    border: 1px solid #aebf48;
  }
  .border-color-light-brown {
    border: 1px solid #aebf48;
  }

  .border-color-primary-darkGreen {
    border: 1px solid #47c3c9;
  }
  .border-color-primary-purpule {
    border: 1px solid #c379b8;
  }
  .border-color-primary-Brown {
    border: 1px solid #d65555;
  }

  .border-color-primary-red {
    border: 1px solid #c3333f;
  }
  .wrapper {
    padding: 0 19px;
  }
  .m-top7px {
    margin-top: 7px;
  }
  .m-top10px {
    margin-top: 10px;
  }
  .m-top22px {
    margin-top: 22px;
  }
  .m-top15px {
    margin-top: 15px;
  }
  .m-Bottom10px {
    margin-bottom: 10px;
  }
  .width-26px {
    width: 26px;
  }
  .height-26px {
    height: 26px;
  }
  .font-size-8px {
    font-size: 8px;
  }
  .font-size-10px {
    font-size: 10px;
  }
  .font-size-13px {
    font-size: 13px;
  }
  .gap-10px {
    gap: 10px;
  }
  .CardBgColor {
    background-color: #f6f8fb;
  }
  .radius-10px {
    border-radius: 10px;
  }
  .active-footer-tab p {
    color: #48bfaa;
  }
  .text-primary {
    color: #48bfaa;
  }
  .backGround-lightGreen {
    background-color: #e7ffe8;
  }
  .add-travel-checkbox-container input:checked ~ label {
    background-color: #e9f7ff;
  }
  .add-travel-checkbox-container input:checked ~ label div {
    background-color: #bde7fe;
  }
  .add-travel-checkbox-container input:checked ~ label p {
    font-family: "Gilroy-Bold";
  }

  .appearance-select-container input:checked ~ label {
    background-color: #e3ecaf;
  }

  .right-138px {
    right: 138px;
  }

  .text-red {
    color: #d65559;
  }
  .top-56px {
    top: 56px;
  }
}
