@import "./customFonts.css";

:root {
  --color-purple-primary: #2e3553;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1 {
        font-size: 2rem;
        color: #333;
      } */
}

@layer components {
  /* For whole component  */
  /* .card {
  } */
}

@layer utilities {
  /* For Utility classes  */
  /* .font-20px {
    font-size: 20px;
  } */
  .color-primary {
    color: var(--color-purple-primary);
  }
  .wrapper {
    padding: 0 19px;
  }
  .m-top10px {
    margin-top: 10px;
  }
}
